.body {
    background-color: #eee;
    margin: auto;
    color: #292929;
    max-width: 700px;
}

@media (max-width: 767px) {
    .body {
        max-width: 90%;
    }
}

.header {
    color: #3c3c3c;
    padding: 15px 0;

}

.firstSubHeader {
    border-bottom: 1px solid #ddd;
    font-size: 25px;
    color: #3c3c3c;
    margin: 0;
    padding: 20px; 
}

.section__header {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.subHeader {
    font-size: 25px;
    color: #3c3c3c;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 0;
    box-shadow: 0 0 5px #ddd;
}